body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  border-style: solid;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  width: 450px;
  height: 70px;
  font-size: 30px;
  overflow: auto;
}

.keyboard {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.buttons {
  border-style: solid;
  background-color: rgb(36, 166, 226);
  border-radius: 60px;
  font-size: 50px;
  flex: 0 1 20%;
  aspect-ratio: 1;
}

.buttons:hover {
  background-color: rgb(31, 141, 192);
}